!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*$py.class
*.class
*.cover
*.ctxt
*.ear
*.egg
*.egg-info/
*.iml
*.ipr
*.iws
*.jar
*.log
*.manifest
*.mo
*.nar
*.pot
*.py[cod]
*.rar
*.sage.py
*.save
*.so
*.spec
*.swp
*.tar.gz
*.war
*.zip
.Python
.cache
.coverage
.coverage.*
.eggs/
.hypothesis/
.idea
.idea/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/httpRequests
.idea/misc.xml
.idea/replstate.xml
.idea_modules/
.installed.cfg
.ipynb_checkpoints
.mtj.tmp/
.mypy_cache/
.pytest_cache/
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.venv/
.vscode
.vscode/*
.webassets-cache
/site
ENV/
MANIFEST
__pycache__/
agilent4uhv/ioc/cmd/*
atlassian-ide-plugin.xml
autosave/
build/
celerybeat-schedule
cmake-build-*/
com_crashlytics_export_strings.xml
countingPRU/ioc/cmd/*
coverage.xml
crashlytics-build.properties
crashlytics.properties
db.sqlite3
db/
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env.bak/
env/
fabric.properties
hs_err_pid*
htmlcov/
instance/
lib/
lib64/
local_settings.py
mbtemp/ioc/cmd/*
mks937b/ioc/cmd/*
mks937b/ioc/db/mks937b_relay.db
mks937b/ioc/protocol/MKS-*
modules.xml
nosetests.xml
out/
parts/
pip-delete-this-directory.txt
pip-log.txt
protocol/
rackMonitoring/ioc/cmd/*
sdist/
settings.json
spixconv/ioc/cmd/*
target/
var/
venv.bak/
venv/
wheels/
