[Unit]
Description=Init all IOCs locally.
After=network.target
After=initial-conf.service

[Service]
Type=forking
WorkingDirectory=/home/controle/sirius-temporary-dev-repo/
ExecStart=/bin/bash /home/controle/sirius-temporary-dev-repo/build-run.sh
KillMode=mixed
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
