[Unit]
Description=Streamdevice IOC. Swarm init.

Wants=network.target
After=network.target

Wants=initial-conf.service
After=initial-conf.service

Wants=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=15

RemainAfterExit=yes
WorkingDirectory=/home/controle/streamdevice-ioc/docker
ExecStart=/usr/bin/docker stack deploy --compose-file /home/controle/streamdevice-ioc/docker/docker-stack.yml streamdevice-ioc

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
