[Unit]
Description=Initialize the serial port bind.

[Service]
Restart=on-failure
RestartSec=3
Type=simple
ExecStart=/bin/bash /root/mbtemp/beaglebone/init.sh
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
