[Unit]
Description=Init all IOCs locally.
After=network.target
After=initial-conf.service

[Service]
Type=forking
WorkingDirectory=/home/controle/streamdevice-ioc
ExecStart=/bin/bash ./scripts/build-run.sh
KillMode=mixed
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
